{{ $personal := promptBoolOnce . "personal" "Is this a personal computer" -}}
{{ $choicestype := list "desktop" "server" -}}

{{ $hosttype := promptChoiceOnce . "hosttype" "What type of host are you on" $choicestype -}}

{{ $email := "psi-jack@linux-help.org" -}}
{{ $work  := false -}}
{{ if ne $personal true -}}
{{   $email := promptStringOnce . "email" "What is your email" -}}
{{   $work  := promptBoolOnce   . "work"  "Is this for work" -}}
{{ end -}}

{{ $osid := .chezmoi.os -}}
{{ if .chezmoi.osRelease -}}
{{   if hasKey .chezmoi.osRelease "id" -}}
{{     $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{   end -}}
{{ end -}}

[data]
  name = "Eric Renfro"
  email = {{ $email | quote }}
  osid = {{ $osid | quote }}

  personal = {{ $personal }}
  work = {{ $work }}
  hosttype = {{ $hosttype | quote }}

[programs]
  terminal = "alacritty"
  editor = "micro"
  visual = "less"
  pager = "less -R"
  browser = "firefox"

[font]
  [[term]]
    name = "Hack Nerd Font"
    size = 12.0

[age]
  identity = "~/.config/sops/keys.txt"
  recipient = "age1fc7myuewzdr7rvqr9fl3x3jwky3j4gp92hxguf3dlgnesm9s9e8q45xmp2"

[git]
  autoCommit = false
  autoPush = false
  autoAdd = true

[diff]
  exclude = ["externals"]

{{- if lookPath "nvim" }}
[merge]
  command = "nvim"
  args = ["-d"]
{{- end }}
