{{- $personal := promptBool "Personal?" -}}{{/* true if this is a personal machine */}}
{{- if eq $personal true -}}
  {{- $email := promptString "Email?" -}}
  {{- $work := false -}}
{{- else -}}
  {{- $email = promptString "Email?" -}}
  {{- $work := promptBool "Work?" -}}
{{- end -}}


sourceDir: {{ .chezmoi.SourceDir | quote }}
data:
  name: "Eric Renfro"
  email: {{ $email | quote }}
  is:
    personal: {{ $personal -}}
    work: {{ $work -}}
    battlestation: false
    headless: true
  theme: "erenfro"
  programs:
    terminal: alacritty
    editor: micro
    visual: less
    browser: firefox
    font:
      term:
        name: "Hack Nerd Font"
        size: 12.0
encryption: age
age:
  recipient: "age1fc7myuewzdr7rvqr9fl3x3jwky3j4gp92hxguf3dlgnesm9s9e8q45xmp2"
  identity: "~/.config/sops/keys.txt"
