#!{{ lookPath "bash" }}

# Install micro plugins
if command -v micro &>/dev/null
	#micro -plugin install comment
	micro -plugin install fish
	micro -plugin install fzf
	micro -plugin install editorconfig
	micro -plugin install gotham-colors
	#set colorscheme gotham
	micro -plugin install filemanager
	micro -plugin install nordcolors
	#set colorscheme nordcolors
fi
