set -gx KUBE_EDITOR micro
set -gx VISUAL micro
set -gx EDITOR micro
set -gx ANSIBLE_FORCE_COLOR true
set -gx ANSIBLE_HOST_KEY_CHECKING False

fish_add_path "{{ .chezmoi.homeDir }}/bin"
fish_add_path "{{ .chezmoi.homeDir }}/.local/bin"
fish_add_path "{{ .chezmoi.homeDir }}/.cargo/bin"
fish_add_path "{{ .chezmoi.homeDir }}/.krew/bin"
fish_add_path "{{ .chezmoi.homeDir }}/.go/bin"

{{- if (eq .chezmoi.os "darwin") }}
fish_add_path "/opt/homebrew/opt/curl/bin"
{{- end }}

if type -q direnv
    direnv hook fish | source
end

if type -q atuin
    atuin init fish | source
end

if type -q starship
    starship init fish | source
end

if status is-interactive
    # Commands to run in interactive sessions can go here
    set -g fish_escape_delay_ms 100
end
